name: portabase-prod

services:

  app:
#    build:
#      context: .
#      dockerfile: docker/dockerfile/Dockerfile
#      target: prod
    image: solucetechnologies/portabase:1.1.4-rc.2
    ports:
      - '8887:80'
    environment:
      TZ: "Europe/Paris"
    env_file:
      - .env
    depends_on:
      db:
        condition: service_healthy
    container_name: portabase-app-prod

  db:
    image: postgres:16-alpine
    ports:
      - "5433:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data
    environment:
      - POSTGRES_DB=devdb
      - POSTGRES_USER=devuser
      - POSTGRES_PASSWORD=changeme
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U devuser -d devdb" ]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  postgres-data:
